html{
  background-color:lightblue;
  background-image: url(https://pre00.deviantart.net/a408/th/pre/i/2011/243/a/7/light_watercolor_texture_1_by_shembre-d48g62m.jpg);
  margin: 2px;
  box-sizing:border-box;
  display: block;
}
#logotype {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
.wrapper {
  background-color: rgb(229, 245, 233);
  border:5px solid rgb(29, 32, 73);
  border-radius: 40px;
}
.mainNav{
  display: block;
  max-height: 100%;
  position: relative;
  min-height: 1px;
  padding-left: auto;
  padding-right:auto;
  text-align: center;
  border: 0;
  overflow: visible;
  padding: 8px 0 10px 0;
  top: 2px;
  border:5px solid white;
  border-radius: 40px;
  margin:30px 250px 30px 250px;   
  background-color: rgb(229, 245, 233);
}
.mainNav a{
  margin: 5px 0 0 30px;
  display: inline-block;
  width: auto;
  border: 0;
  font-size: 30px;
  margin: 5px 15px 5px 15px;
  padding: 5px 0 5px 0;
  width: calc(100% - 30px);
  display: block;
  color: rgb(39, 56, 39);
  text-decoration: none;
  font-style: oblique;
  font-size: 20px;
}

#deemore{
  text-align: center;
  text-decoration: underline;
}
#home{
  text-align: center;
  text-decoration: underline;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#grid-floats {
  display: grid;
  background-image: url("https://www.masterstudies.com/element_db/22/22979_Netherlands.jpg");
  background-repeat: repeat-x;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  color: rgb(48, 114, 68);
  margin:20px 5px 20px 5px;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

.topTaskNavigation a{
  margin: 5px 0 0 20px;
  display: inline-block;
  width: auto;
  border: 0;
  font-size: 20px;
  margin: 5px 15px 5px 15px;
  padding: 5px;
  width: calc(100% - 30px);
  display: block;
  color:rgb(39, 56, 39);
  text-decoration: none;
  font-style: oblique;
  font-size: 18px;
  border:5px solid white;
  background-color: rgb(229, 245, 233);
  border-radius: 5px;
}

input {
  margin: 200px 30px 0px 100px;
}

button{
  margin: 3px 30px 0px 100px;
}

.column{
  display:grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  margin: 0px 100px 20px 100px;
}

.navItem a{
  margin: 65px 0 0 5px;
  width: auto;
  border: 0;
  font-size: 30px;
  padding: 0px 0 5px 0;
  width: calc(100% - 30px);
  display: block;
  color: rgb(39, 56, 39);
  text-decoration: none;
  font-style: oblique;
  font-size: 16px;
}

h2 {
  color:rgb(54, 117, 71);
  font-size: 22px;
  text-decoration-line: underline;
  margin: 30px 0px 20px 60px;
}
p {
  color: rgb(25, 75, 78);
  font-size: 18px;
}

.brickRow{
  display:grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-flow: dense;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  text-align: left;
  margin:10px;
  padding: 30px;
}
.brick a{
  margin: 5px 0 0 20px;
  display: inline-block;
  width: auto;
  border: 0;
  font-size: 20px;
  margin: 5px 15px 5px 15px;
  padding: 15px 10px 10px 10px;
  width: calc(100% - 30px);
  display: block;
  color:rgb(55, 41, 59);
  text-decoration: none;
  font-style: oblique;
  font-size: 18px;
  border:1px solid rgb(120, 115, 124);
  background-color:rgb(237, 223, 255) ;
  border-radius: 5px;
}
p.copyright {
      text-align:right;
      color:white;
}
p.copyrighti {
  text-align:right;
  color:white;
  margin-top: -48px;
  position: absolute;
}

.more{
  grid: end;
  margin: 10px 0 150px 45px;
  position: relative;
  padding-left: 15px;
  font-weight: bold;
  width: auto;
  font-size: 20px;
  color:rgb(55, 41, 59);
  text-decoration-line:inherit;
  font-style: oblique;
}

.service{
  margin: 5px;
  width: auto;
  border: 0;
  font-size: 30px;
  padding: 0px 0 5px 0;
  width: calc(100% - 30px);
  display: block;
  color: rgb(39, 56, 39);
  text-decoration: none;
  font-style: oblique;
  font-size: 16px;
}

.tre{
  display:grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: dense;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  text-align: right;
  margin:10px;
  padding: 10px 5px 10px 5px;
}

.wrapper tre{
  margin-top: 100px;
}

.wrapper{
  text-align: center;
}

.select{
  margin: 5px;
  display: inline-block;
  border:0;
  font-size: 30px;
  padding: 0px;
  width: calc(100% - 30px);
  display: block;
  color: rgb(4, 90, 4);
  text-decoration-line: underline;
  font-style: normal;
  font-size: 16px;
}

.selected{
  margin: 5px;
  display: inline-block;
  border:0;
  font-size: 30px;
  padding: 10px;
  width: calc(100% - 30px);
  display: block;
  color: rgb(78, 36, 105);
  text-decoration-line: underline;
  font-style: none;
  font-size: 16px;
  font-style: oblique;
}